/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap');

/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #2b2b2b;
}

img {
    width: 100%;
}

/* HEADER */

header {
    padding: 2rem 0;
    border-bottom: 2px solid #FF5376;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .header__logo {
    /* flex-basis: 40%; */
}

header .header__img {
   max-width: 120px;
}

header .navigation {
    /* flex-basis: 60%; */
}

header nav .menu {
    display: flex;
    gap: 2rem;
}

.menu .menu__link {
    font-size: 2.2em;
    padding: 1rem 1.2rem;
    border: 2px solid white;
    transition: all 1s;
}

.menu .menu__link:hover {
    border-color:#2b2b2b;
}



/* Main */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.gallery__img {
    /* transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    /* animation-name: rotateMe;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.gallery .gallery__img:hover {
    transform: rotate(10deg);
}

.gallery .gallery__img:nth-of-type(1) {
    grid-column: 1 / 7;
}

.gallery .gallery__img:nth-of-type(2) {
    grid-column: 7 / 13;
}

.gallery .gallery__img:nth-of-type(3) {
    grid-column: 1 / 5;
    grid-row: 2;

}

.gallery .gallery__img:nth-of-type(4) {
    grid-column: 5 / 9;
    grid-row: 2;

}

.gallery .gallery__img:nth-of-type(5) {
    grid-column: 9 / 13;
    grid-row: 2 / 4;

}

.gallery .gallery__img:nth-of-type(6) {
    grid-column: 1 / 9;
    grid-row: 3;
}



@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 2rem;
    }

    .gallery {
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
    }
    
    .gallery .gallery__img:nth-of-type(3) {
        grid-column: 1 / 7;
        grid-row: 3;
    
    }
    
    .gallery .gallery__img:nth-of-type(4) {
        grid-column: 7 / 13;
        grid-row: 3;
    
    }
    
    .gallery .gallery__img:nth-of-type(5) {
        grid-column: 1 / 13;
        grid-row: 2;
        max-height: 200px;
        overflow: hidden;
    
    }
    
    .gallery .gallery__img:nth-of-type(6) {
        grid-column: 1 / 13;
        grid-row: 4;
    }
}

@keyframes rotateMe {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(360deg);
    }
}